[submodule "src\\math"]
	path = src\\math
	url = https://github.com/phil-stein/math
[submodule "src\\global"]
	path = src\\global
	url = https://github.com/phil-stein/global
[submodule "external/ufbx"]
	path = external/ufbx
	url = https://github.com/bqqbarbhg/ufbx.git

[submodule "src/serialization"]
	path = src/serialization
	url = https://github.com/phil-stein/serialization
[submodule "src/phys"]
	path = src/phys
	url = https://github.com/phil-stein/phys
